<h1>Editar cargo</h1>

<% form_for(@cargo) do |f| %>
  <%= f.error_messages %>
<%= render :partial => 'form', :locals => { :f => f } %>

<table style="width: 900px; margin: auto; text-align: center; padding: 20px">
  <tr>
    <td>
      <%= f.submit 'Actualizar' %><% end %> |
      <%= link_to 'Ver', @cargo %> |
      <%= link_to 'Atras', cargos_path %>
    </td>
  </tr>
</table>