<h1>Editar instructor</h1>

<% form_for(@docente, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => { :f => f } %>

<table style="width: 900px; margin: auto; text-align: center; padding: 20px">
  <tr>
    <td>
      <%= f.submit 'Actualizar' %><% end %> |
      <%= link_to 'Ver', @docente %> |
      <%= link_to 'Atras', docentes_path %>
    </td>
  </tr>
</table>