<div id="wrapper">
  <div id="scroll">
    <div id="scrollcontent">
      <table style="border: 1px dotted; width: 500px; margin: auto; padding: 10px; text-transform: capitalize ">
        <tr>
          <td style="background: #666; color:#fff; padding: 10px; font-weight: bold;" colspan="2"> Datos </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr class="odd">
          <td id="tede1"><%= f.label :depositario %></td>
          <td><%= f.text_field :depositario %></td>
        </tr>
        <tr class="pair">
          <td id="tede1"><%= f.label :titulo_invencion %></td>
          <td><%= f.text_field :titulo_invencion %></td>
        </tr>
        <tr class="odd">
          <td id="tede1"><%= f.label :tipo_patente %></td>
          <td><%= f.text_field :tipo_patente %></td>
        </tr>
        <tr class="pair">
          <td id="tede1"><%= f.label :pais_id %></td>
          <td><%= f.collection_select :pais_id, Pais.all, :id, :nombre%></td>
        </tr>
        <tr class="odd">
          <td id="tede1"><%= f.label :num_registro %></td>
          <td><%= f.text_field :num_registro %></td>
        </tr>
        <tr class="pair">
          <td id="tede1"><%= f.label :ano %></td>
          <td><%= f.date_select :ano, :discard_month => true, :discard_day => true, :start_year => 1980, :end_year => 2010 %></td>
        </tr>
      </table>
    </div>
    <div id="scrollbar">
      <div id="scroller" class="scroller"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
TINY.scroller.init('scroll','scrollcontent','scrollbar','scroller','buttonclick');
</script>