<h1>Editar dominio de idioma</h1>

<% form_for([@docente, @dominio]) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => { :f => f } %>

<table style="width: 900px; margin: auto; text-align: center; padding: 20px">
  <tr>
    <td>
      <%= f.submit 'Actualizar' %><% end %> |
      <%= link_to 'Ver', docente_dominio_path(@dominio) %> |
      <%= link_to 'Atras', docente_dominios_path(@docente) %>
    </td>
  </tr>
</table>