<h1>Editar academico</h1>

<% form_for([@practica, @academico]) do |f| %>
  <%= f.error_messages %>
<%= render :partial => 'form', :locals => { :f => f } %>

<table style="width: 900px; margin: auto; text-align: center; padding: 20px">
  <tr>
    <td>
      <%= f.submit 'Actualizar' %><% end %> |
      <%= link_to 'Ver', practica_academico_path(@academico) %> |
      <%= link_to 'Atras', practica_academicos_path(@practica) %>
    </td>
  </tr>
</table>