<h1>Editar fortaleza</h1>

<% form_for([@practica, @fortaleza]) do |f| %>
  <%= f.error_messages %>
<%= render :partial => 'form', :locals => { :f => f } %>

<table style="width: 900px; margin: auto; text-align: center; padding: 20px">
  <tr>
    <td>
      <%= f.submit 'Actualizar' %><% end %> |
      <%= link_to 'Ver', practica_fortaleza_path(@alternativa) %> |
      <%= link_to 'Atras', practica_fortalezas_path(@practica) %>
    </td>
  </tr>
</table>