<table style=" width: 900px">
  <tr>
    <td><h1>Practicas de: <%= @aprendiz.nombre %></h1></td>
  </tr>
</table>

<div id="wrapper">
  <div id="scroll">
    <div id="scrollcontent">
<table id="tab">
  <tr>
    <th id="titul">Fecha de diligencia</th><!--
    <th id="titul">Grupo</th>
    <th id="titul">Nombre del grupo</th>
    <th id="titul">Comunidad</th>
    <th id="titul">Nombre de la comunidad</th>
    <th id="titul">Sitio</th>
    <th id="titul">Nombre del sitio</th>-->
    <th id="titul">Esta realizando practicas </th>
    <th id="titul">Donde practica</th>
    <th id="titul">Desea Participar en proyectos</th>
    <th id="titul">Area de participacion</th>
    <th id="titul" colspan="7">Opciones</th>
  </tr>
  <tr id="vac"></tr>

<% @practicas.each do |practica| %>
  <tr class="<%= cycle('odd','pair') %>">
    <td><%=h practica.fecha_dil %></td><!--
    <td><#%=h practica.grupos %></td>
    <td><#%=h practica.nom_grup %></td>
    <td><#%=h practica.comunidades %></td>
    <td><#%=h practica.nom_com %></td>
    <td><#%=h practica.sitios %></td>
    <td><#%=h practica.nom_sit %></td>-->
    <td><%=h practica.practicas %></td>
    <td><%=h practica.donde_pract %></td>
    <td><%=h practica.participacion %></td>
    <td><%=h practica.area_part %></td>
    <td><%= link_to 'Ver', aprendiz_practica_path(@aprendiz, practica) %></td>
    <td><%= link_to 'Editar', edit_aprendiz_practica_path(@aprendiz, practica) %></td>
    <td><%= link_to 'Destruir', aprendiz_practica_path(@aprendiz, practica), :confirm => 'Esta seguro?', :method => :delete %></td>
    <td><%= link_to 'F.Academica', practica_academicos_path(practica) %></td>
    <td><%= link_to 'Alternativas', practica_alternativas_path(practica) %></td>
    <td><%= link_to 'Fortalezas', practica_fortalezas_path(practica) %></td>
    <td><%= link_to 'Herramientas', practica_herramientas_path(practica) %></td>
  </tr>
<% end %>
</table>
    </div>
    <div id="scrollbar">
      <div id="scroller" class="scroller"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
TINY.scroller.init('scroll','scrollcontent','scrollbar','scroller','buttonclick');
</script>

<table style="width: 900px; margin: auto; text-align: center; padding: 20px">
  <tr>
    <td>
      <%= link_to 'Nueva practica', new_aprendiz_practica_path %> |
      <%= link_to 'Atras', programas_path %>
    </td>
  </tr>
</table>