<h1>Editar ficha</h1>

<% form_for([@programa, @ficha]) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => { :f => f } %>

<table style="width: 900px; margin: auto; text-align: center; padding: 20px">
  <tr>
    <td>
      <%= f.submit 'Actualizar' %><% end %> |
      <%= link_to 'Ver', programa_ficha_path(@programa) %> |
      <%= link_to 'Atras', programa_fichas_path(@programa) %>
    </td>
  </tr>
</table>