<table style=" width: 900px; ">
  <tr>
    <td style="width: 350px "><h1>Lista de fichas:</h1></td>
    <td style="text-align:center; "><h2><%= @programa.nombre %></h2></td>
    <td colspan="2" style="width:230px ; text-align: right ; padding-bottom: 15px; padding-top: 15px">
     <% form_tag programa_fichas_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Buscar", :name => nil %>
     <% end %>
    </td>
  </tr>
</table>

<div id="wrapper">
  <div id="scroll">
    <div id="scrollcontent">

<table id="tab">
  <tr>
    <th id="titul">Numero De Ficha</th>
    <th id="titul" colspan="4">Opciones</th>
  </tr>
  <tr id="vac"></tr>
<% @fichas.each do |ficha| %>
   <tr id ="mayus" class="<%= cycle('odd','pair') %>">
    <td><%=h ficha.numero %></td>
    <td><%= link_to 'Ver', programa_ficha_path(@programa, ficha) %></td>
    <td><%= link_to 'Editar', edit_programa_ficha_path(@programa, ficha) %></td>
    <td><%= link_to 'Destruir', programa_ficha_path(@programa, ficha), :confirm => 'Esta Seguro?', :method => :delete %></td>
    <td><%= link_to 'Lista De Aprendices', ficha_aprendices_path(ficha) %></td>
   </tr>
<% end %>
</table>
</div>
    <div id="scrollbar">
      <div id="scroller" class="scroller"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
TINY.scroller.init('scroll','scrollcontent','scrollbar','scroller','buttonclick');
</script>

<table style="width: 900px; margin: auto; text-align: center; padding: 20px">
  <tr>
    <td>
      <%= link_to 'Nueva ficha', new_programa_ficha_path %> |
      <%= link_to 'Atras', programas_path %>
    </td>
  </tr>
</table>