<table style=" width: 900px">
  <tr>
    <td><h1 >Lista de alternativas</h1></td>
    <td style="width:230px ; text-align: right ">
     <% form_tag practica_alternativas_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Buscar", :name => nil %>
     <% end %>
    </td>
  </tr>
</table>

<div id="wrapper">
  <div id="scroll">
    <div id="scrollcontent">
<table id="tab">
  <tr>
    <th id="titul">Tema</th>
    <th id="titul">Desicion</th>
    <th id="titul">Cual</th>
    <th id="titul" colspan="3">Opciones</th>
  </tr>
  <tr id="vac"></tr>

<% @alternativas.each do |alternativa| %>
  <tr class="<%= cycle('odd','pair') %>">
    <td><%=h alternativa.tema %></td>
    <td><%=h alternativa.desicion %></td>
    <td><%=h alternativa.cual %></td>
    <td><%= link_to 'Ver', practica_alternativa_path(@practica, alternativa) %></td>
    <td><%= link_to 'Editar', edit_practica_alternativa_path(@practica, alternativa) %></td>
    <td><%= link_to 'Destruir', practica_alternativa_path(@practica, alternativa), :confirm => 'Esta Seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>
    <div id="scrollbar">
      <div id="scroller" class="scroller"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
TINY.scroller.init('scroll','scrollcontent','scrollbar','scroller','buttonclick');
</script>

<table style="width: 900px; margin: auto; text-align: center; padding: 20px">
  <tr>
    <td>
      <%= link_to 'Nueva alternativa', new_practica_alternativa_path %> |
      <%= link_to 'Atras', programas_path %>
    </td>
  </tr>
</table>
