<table style="width: 900px;">

  <tr>
    <td colspan="2" style="background: url('/images/crystal.png') no-repeat #fff; color: #666; text-transform: capitalize; text-align: right; font:30px Georgia;  padding: 50px">Bienvenidos - PMO</td>
  </tr>

  <tr>
    <td>
      <table style="background: #fff; padding: 10px; height: 150px; width: 500px;">
        <h2 id="titul2">Unidades estrategicas de negocios</h2>
        <tr>
          <td id="tede3"><%= image_tag('/images/22.png', {:border=>0}) %><br />ventas y comercializacion</td>
          <td id="tede3"><%= image_tag('/images/17.png', {:border=>0}) %><br />Logistica y comercio internacional</td>
          <td id="tede3"><%= image_tag('/images/3.png', {:border=>0}) %><br />gestion admistrativa</td>
        </tr>
      </table>
    </td>
    <td>
      <table style="background: #fff; padding: 10px; height: 150px; width: 400px;">
        <h2 id="titul2">Proyectos</h2>
        <tr>
          <td id="tede3"><%= image_tag('/images/14.png', {:border=> 0 }) %><br /><a href="/inicios/uno">investigacion, desarrollo e innovacion</a></td>
          <td id="tede3"><%= image_tag('/images/13.png', {:border=> 0 }) %><br />centro operaciones comerciales y logistica</td>
        </tr>
      </table>
    </td>
  </tr>

</table>