<div id="dib">¿Aun no tienes una cuenta? <%= link_to "Registrarse", signup_path %></div>

<div id="wrapper">
  <div id="scroll">
    <div id="scrollcontent">
      <table style="border: 1px dotted; width: 500px; margin: auto; padding: 10px; text-transform: capitalize ">
        <tr>
          <td style="background: #666; color:#fff; padding: 10px; font-weight: bold;" colspan="2">Iniciar Sesion </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
           <% form_for @user_session, :url => user_session_path do |f| %>
            <%= f.error_messages %>
        <tr class="odd" >
          <td id="tede1"><%= f.label :Usuario %></td>
          <td><%= f.text_field :username %></td>
        </tr>
        <tr class="pair" >
          <td id="tede1"><%= f.label :Contraseña %></td>
          <td><%= f.password_field :password %></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td colspan="2" id="tede2"><%= f.check_box :remember_me %> &nbsp; <%= f.label :Recordar_Usuario %></td>
        </tr>
        <tr>
          <td colspan="2" id="bot"><%= f.submit "Iniciar Sesion" %><% end %></td>
        </tr>
      </table>
    </div>
    <div id="scrollbar">
      <div id="scroller" class="scroller"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
TINY.scroller.init('scroll','scrollcontent','scrollbar','scroller','buttonclick');
</script>